[Unit]
Description=Uvicorn instance to serve myproject
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/home/ubuntu2/shinstall
Environment="PATH=/home/ubuntu2/shinstall/python_test/bin"
ExecStart=/home/ubuntu2/shinstall/python_test/bin/uvicorn --workers 3 --host --bind 0.0.0.0:8080 main:app

[Install]
WantedBy=data.service