[Unit]
Description=Uvicorn instance to serve myproject
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=shinstall/api-test
Environment="PATH=shinstall/python_test/bin"
ExecStart=shinstall/python_test/bin/uvicorn --workers 3 -k uvicorn.workers.UvicornWorker --bind unix:shinstall/backend.sock -m 007 api-test.main:app


[Install]
WantedBy=data.service