[Unit]
Description=Uvicorn instance to serve myproject
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/home/ubuntu2/shinstall
Environment="PATH=/home/ubuntu2/shinstall/python_test/bin"
ExecStart=/home/ubuntu2/shinstall/python_test/bin/uvicorn --workers 3 -k uvicorn.workers.UvicornWorker --bind unix:shinstall/backend.sock -m 007 api-test.main:app


[Install]
WantedBy=data.service