[Unit]
Description=DataCraft backend-restarting service
PartOf=data.service
After=data.service
After=backend.service
[Service]
User=root
Group=root
ExecStart=/bin/bash /var/www/dc-api/.script/start.sh
[Install]
WantedBy=data.service